@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Noto+Sans+SC:wght@400;500;700&family=Noto+Sans+TC:wght@400;500;700&family=Noto+Sans+KR:wght@400;500;700&family=Noto+Sans:wght@400;500;700&display=swap");

:root {
  --listener-name:#FFFFFF;
  --listener-name-bg:#8CCCE3;
  --member-name:#8CCCE3;
  --member-name-bg:#FFFFFF;
  --owner-name:#FFFFFF;
  --owner-name-bg:#8CCCE3;
  --listener-comment:#333333;
  --listener-comment-bg:#FFFFFF;
  --listener-comment-border:#FFFFFF;
  --superchat-name:#FFFFFF;
  --superchat-name-bg:#9ED9EF;
  --superchat-comment:#FFFFFF;
  --superchat-comment-bg:#9ED9EF;
  --membership-name:#FFFFFF;
  --membership-name-bg:#9ED9EF;
  --membership-comment:#FFFFFF;
  --membership-comment-bg:#9ED9EF;
}

ytd-sponsorships-live-chat-header-renderer *,
yt-live-chat-paid-sticker-renderer *,
yt-live-chat-membership-item-renderer *,
yt-live-chat-paid-message-renderer *,
yt-live-chat-text-message-renderer * {
  font-family: "Noto Sans JP";
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 1.5 !important;
  letter-spacing: 0.5px !important;
}


yt-live-chat-text-message-renderer,
ytd-sponsorships-live-chat-gift-purchase-announcement-renderer,
yt-live-chat-membership-item-renderer,
yt-live-chat-paid-sticker-renderer,
yt-live-chat-paid-message-renderer {
  padding: 12px 24px !important;
}

yt-live-chat-text-message-renderer {
  display: flex;
}

/* ---------------------------------------------------- 
  content
----------------------------------------------------*/
#content.yt-live-chat-text-message-renderer {
  position: relative;
  overflow: visible !important;
  display: grid;
  grid-gap: 6px;
}

/* ---------------------------------------------------- 
  channel
----------------------------------------------------*/
yt-live-chat-author-chip.yt-live-chat-text-message-renderer {
  display: flex;
  align-items: center;
}
yt-live-chat-author-badge-renderer.style-scope.yt-live-chat-author-chip {
  display: block;
  width: fit-content;
  margin-left: 8px;
}
.author-name-block {
  display: flex !important;
  align-items: center;
}


/* listener */
yt-live-chat-text-message-renderer[author-type="owner"] #author-name,
yt-live-chat-text-message-renderer[author-type="moderator"] #author-name,
yt-live-chat-text-message-renderer[author-type="member"] #author-name,
yt-live-chat-text-message-renderer #author-name {
  display: flex;
  width: fit-content;
  padding: 4px 12px;
  border-radius: 18px !important;
  background-color: var(--listener-name-bg) !important;
  color: var(--listener-name) !important;
  font-size: 12px !important;
}

/* member */
yt-live-chat-text-message-renderer[author-type="member"] #author-name {
  background-color: var(--member-name-bg) !important;
  color: var(--member-name) !important;
  font-size: 12px !important;
}

/* ---------------------------------------------------- 
  message 
----------------------------------------------------*/

/* message */
#message.yt-live-chat-text-message-renderer {
  background-color: var(--listener-name) !important;
  color: var(--listener-name-bg) !important;
  border-radius: 30px;
  border: 3px solid var(--listener-name-bg);
  display: block !important;
  padding: 12px 20px;
  width: fit-content !important;
  position: relative;
  overflow: visible;
}

.message-before{
  content: "";
  position: absolute;
  top: 4px;
  left: -3px;
	width: 21px;
	height: 21px;
	transform: rotate(-20deg) skew(20deg, 20deg);
  background-color: var(--listener-name-bg);
  border-top-left-radius: 7px;
  border-bottom-right-radius: 6px;
  z-index: -1;
}

.message-after {
  content: "";
  position: absolute;
  top: 7px;
  left: 1px;
	width: 18px;
	height: 18px;
	transform: rotate(-20deg) skew(20deg, 20deg);
  background-color: var(--listener-name);
  border-top-left-radius: 4px;
  border-bottom-right-radius: 20px;
  z-index: 0;
}

/* ---------------------------------------------------- 
  sticker 
----------------------------------------------------*/

/* sticker */
#sticker img {
  width: 54px !important;
  height: 54px !important;
}

yt-img-shadow#sticker {
  display: block;
  padding: 12px 20px;
}

yt-live-chat-paid-sticker-renderer:not([dashboard-money-feed]) #card.yt-live-chat-paid-sticker-renderer {
  background-color: var(--sp-name-bg-color);
  color: var(--listener-name);
  border: 3px solid var(--listener-name);
  border-radius: 13px;
  padding: 0px;
  overflow: visible;
}

/* ----- sticker header ----- */
yt-live-chat-paid-sticker-renderer:not([dashboard-money-feed]) #author-info.yt-live-chat-paid-sticker-renderer {
  background-color: var(--listener-name-bg);
  color: var(--listener-name);
  border-radius: 10px 10px 0px 0px;
  display: block;
  padding: 12px 20px !important;
}

/* sticker content  */
yt-live-chat-paid-sticker-renderer:not([dashboard-money-feed]) #sticker-container.yt-live-chat-paid-sticker-renderer {
  background-color: var(--sec-color);
  border-radius: 0px 0px 10px 10px;
}

/* 名前・金額 */
#content-primary-column.yt-live-chat-paid-sticker-renderer {
  display: flex;
  justify-content: space-between;
}

/* sticker price */
yt-live-chat-paid-sticker-renderer:not([dashboard-money-feed]) #purchase-amount-chip.yt-live-chat-paid-sticker-renderer {
  color: var(--price-color);
}

/* 風船 */
#overlay-image.yt-live-chat-paid-message-renderer {
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  z-index: 2;
  width: 100px;
}

yt-live-chat-paid-message-renderer,
yt-live-chat-membership-item-renderer {
  margin: 4px 0 !important;
}

yt-live-chat-text-message-renderer a,
yt-live-chat-membership-item-renderer a {
  text-decoration: none !important;
}

/* 削除/管理されたメッセージは非表示 */
yt-live-chat-text-message-renderer[is-deleted],
yt-live-chat-membership-item-renderer[is-deleted],
yt-live-chat-moderation-message-renderer,
yt-live-chat-auto-mod-message-renderer {
  display: none !important;
}

yt-live-chat-ticker-renderer {
  background: transparent !important;
  box-shadow: none !important;
}

yt-live-chat-ticker-renderer {
  display: none !important;
}

yt-live-chat-ticker-paid-message-item-renderer,
yt-live-chat-ticker-paid-message-item-renderer *,
yt-live-chat-ticker-sponsor-item-renderer,
yt-live-chat-ticker-sponsor-item-renderer * {
  /* ; /* 2行目の色 */
  font-family: "Noto Sans JP";
  font-size: 16px !important;
  line-height: 1.5em !important;
  font-weight: 500 !important;
}

yt-live-chat-mode-change-message-renderer,
yt-live-chat-viewer-engagement-message-renderer,
yt-live-chat-server-error-message,
yt-live-chat-banner-manager,
yt-live-chat-restricted-participation-renderer {
  display: none !important;
}

/* チャット欄をすごく小さくした時に表示を崩れないようにする */
yt-live-chat-app {
  min-height: 0px;
  min-width: 0px;
  word-break: break-all;
}

/* 余白調整とかいろいろ */
div#author-info {
  align-items: center !important;
  padding: 8px 16px !important;
  max-height: unset !important;
}

/* ギフトを送りました。 */
ytd-sponsorships-live-chat-gift-purchase-announcement-renderer,
ytd-sponsorships-live-chat-gift-redemption-announcement-renderer {
  margin: 4px 0 !important;
  padding: 0px;
}

ytd-sponsorships-live-chat-header-renderer #author-photo.ytd-sponsorships-live-chat-header-renderer {
  display: none;
}

/* ギフトが贈られました。 */
ytd-sponsorships-live-chat-gift-redemption-announcement-renderer .yt-live-chat-item-list-renderer {
  display: none;
}

ytd-sponsorships-live-chat-gift-redemption-announcement-renderer {
  display: none;
}

/* セパレータ(薄い影)を消す */
div#separator.yt-live-chat-renderer {
  display: none;
}

yt-live-chat-membership-item-renderer,
yt-live-chat-paid-sticker-renderer,
yt-live-chat-paid-message-renderer {
  padding-inline: 0px !important;
}

/* Transparent background - 背景透過 */
yt-live-chat-renderer {
  visibility: hidden !important;
}

yt-live-chat-renderer * {
  visibility: initial !important;
}

yt-live-chat-text-message-renderer #content,
yt-live-chat-membership-message-renderer #content {
  overflow: initial !important;
}

/* ---------------------------------------------------- 
  icon 
----------------------------------------------------*/
yt-img-shadow#author-photo.yt-live-chat-text-message-renderer {
  display: block;
}

yt-img-shadow#author-photo.yt-live-chat-text-message-renderer img {
  width: 26px;
  height: 26px;
  border-radius: 26px;
  display: block;
  margin-right: 8px;
}

/* メンバーシップ・スーパーチャット */
#author-photo.yt-live-chat-membership-item-renderer img#img,
#author-photo.yt-live-chat-paid-message-renderer img#img,
yt-img-shadow#author-photo.yt-live-chat-membership-item-renderer,
yt-img-shadow#author-photo.yt-live-chat-membership-item-renderer img,
yt-img-shadow#author-photo.yt-live-chat-paid-sticker-renderer,
yt-img-shadow#author-photo.yt-live-chat-paid-sticker-renderer img,
yt-img-shadow#author-photo.yt-live-chat-paid-message-renderer,
yt-img-shadow#author-photo.yt-live-chat-paid-message-renderer img {
  display: none !important;
}

/* Emoji - 絵文字・メンバー用スタンプ */
#message>img,
img.yt-live-chat-text-message-renderer {
  width: 20px !important;
  height: 20px !important;
}

/* 不要な要素の非表示. */
#author-badges,
#timestamp,
#deleted-state,
#show-original,
#menu,
#before-content-buttons,
#prepend-chat-badges {
  display: none !important;
}

/* アンケート */
yt-live-chat-poll-renderer {
  display: none;
}
