@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  line-height: 1.5;
  letter-spacing: 0.7px;
  font-family: 'Noto Sans Jp';
}

/* radio */
.custom-label-radio {
  position: relative;
  cursor: pointer;
  padding: 0 0 1px 24px;
}

.custom-label-radio::before,
.custom-label-radio::after {
  content: "";
  display: block; 
  border-radius: 50%;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

.custom-label-radio::before {
  background-color: #FFFFFF;
  border: 1px solid #D8D8D8;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  left: 5px;
}

.custom-label-radio::after {
  background-color: #9ED9EF;
  border-radius: 50%;
  opacity: 0;
  width: 10px;
  height: 10px;
  left: 8px
}

input:checked + label::after {
  opacity: 1;
}

/* color */
input[type="color" i] {
  appearance: none;
  /* border: 1px solid #B9B9B9; */
  width: 24px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="color" i]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

input[type="color" i]::-moz-color-swatch {
  border: none;
  border-radius: 50%;
}

/* header */
.header-wrap {
  border-bottom: 1px solid #D8D8D8;
}

.header-inner {
  padding: 16px 32px;
}

.header-nav {
  display: flex;
  grid-gap: 24px;
}

.header-title {
  font-family: Poppins;
  font-size: 24px;
  letter-spacing: 1.2px;
  line-height: 1.5;
  font-weight: bold;
  color: #353B3C;
}

.header-heading {
  display: flex;
  align-items: center;
  font-size: 14px;
}

/* main */
.main-inner {
  max-width: 1280px;
  padding: 64px 96px;
  margin: auto;
}

.main-column {
  max-width: 1280px;
  width: 100%;
  display: grid;
  grid-template-columns: 536px 488px;
  grid-gap: 64px;
  margin: auto;
}

/* comment */
.comment-contents {
  background-color: #F5F5F5;
  border-radius: 20px;
  position: relative;
  z-index: 0;
}

.comment-inner {
  padding: 40px;
}

.comment-column {
  display: grid;
  grid-gap: 12px;
}

/* custom */
.custom-heading {
  font-family: Poppins;
  font-size: 24px;
  letter-spacing: 1.2px;
  line-height: 1.5;
  font-weight: bold;
  color: #353B3C;
  margin-bottom: 32px;
}

.custom-category + .custom-category {
  margin-top: 64px;
}

.custom-type {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.custom-type-block {
  background-color: #F5F5F5;
  border-radius: 8px;
  width: 100%;
}

.custom-type-block.active {
  background-color: #585858; 
}

.custom-type-btn {
  display: grid;
  grid-gap: 12px;
  padding: 26px;
  width: 100%;
  height: 100%;
}

.custom-type-btn img {
  display: block;
  margin: auto;
}

.custom-type-name {
  color: #C3C3C3;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  display: grid;
  align-items: center;
}

.active .custom-type-name {
  color: #FFFFFF;
  font-size: 16px;
}

.custom-label-group {
  margin-top: 30px;
}

.custom-label-group + .custom-label-group {
  margin-top: 24px;
}

.custom-label-name {
  font-family: Poppins;
  color: #C3C3C3;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 8px;
}

.custom-label-block {
  display: flex;
  grid-gap: 24px;
}

.custom-color-contents {
  display: grid;
  grid-gap: 24px;
}

.custom-color-heading {
  font-family: Poppins;
  color: #C3C3C3;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 8px;
}

.custom-color-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px 24px;
}

.color-picker {
  display: block;
  width: fit-content;
}